.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}

.wrapper.loading {
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  background-color: #fff;
}

.container.loading {
  height: 100%;
}

.header {
  color: white;
  text-align: center;
  background: linear-gradient(to right, #9796f0, #fbc7d4);
}

.title {
  padding: 0.8rem;
}

.subtitle {
  padding-bottom: 0.8rem;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
}