.spinner {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1.5rem solid #fff;
  border-top: 1.5rem solid rgba(251,199,212, 0.6);
  animation: spin 1.5s linear infinite;
  margin: 4rem auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}